/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #FFFFFF;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/



/*Sección Menu*/

section.menu{
    display: flex;
    width: 85%;
    justify-content:space-between;
    margin: auto;
    margin-top: 2%;
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu__list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: baseline;
}
.menu__list__item{
    padding: 5px;
    border-radius: 5px;
}
.menu__list__item:hover{
    background-color: #90BE97;
}



/*Sección Title*/

section.title{
    display: flex;
    width: 100%;
    margin-top: 3rem;
}

.title__container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-shrink: 3;
}

.title__div{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    border: 5px solid #90BE97;
}

.profile_container{
    padding: 1%;
    flex-grow: 5;
}

.title__profile{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.title__bio{
    font-size: 4vw;
}

.title__subsection{
    font-size: 150%;
    font-weight: 100;
    line-height: 2rem;
}

.title__network{
    display: flex;
    width: 50%;
    max-width: 400px;
    justify-content: space-between;
    gap: 2%;
    padding: 0;
}


/*Sección About*/

section.about{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.about__container{
    max-width: 751px;
    padding: 2vw 7.5vw;
    line-height: 1.5rem;
    text-align: justify;
}

.about__title{
    font-size: 2.5vw;
}

.about__paragraph{
    font-size: 150%;
}


/* Sección Skills */

section.skills{
    width: 100%;
    background-color: #afd0b4;
    padding-top: 2%;
    padding-bottom: 5%;
}

.skills__title{
    text-align: center;
    font-size: 200%;
}

.skills__line{
    display: flex;
    width: 90%;
    margin: auto;    
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1vw;
}

.skills__box{
    width: 170px;
    height: 178px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.skills__box ul{
    padding-left: 1rem;
    margin-top: 6.5rem;
}

.skills__box ul li img{
    max-width: 37px;
    max-height: 37px;
}

/*Sección Hobbies*/

section.hobbies{
    width: 100%;
    background-color: #afd0b4;
    padding-top: 2%;
    padding-bottom: 5%;
}

.hobbies__title{
    text-align: center;
    font-size: 200%;
}

.hobbies__line{
    display: flex;
    width: 90%;
    margin: auto;    
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1vw;
}

.hobbies__box{
    width: 170px;
    height: 178px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.hobbies__box ul{
    padding-left: 1rem;
    margin-top: 6.5rem;
}
/* Formacion Académica*/

section.academic{
    width: 100%;
}

.academic__title{
    text-align: center;
    font-size: 200%;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.academic__courses{
    flex-wrap: wrap;
    display: flex;
    width: 90%;    
    margin: auto;
    justify-content: space-around;
}

.academic__courses__box{
    width: 300px;
    height: 286px;
    background-color: #FFFFFF;
    border-radius: 10px;
    flex-flow: column;
    border: #90BE97 solid 5px;
    margin-bottom: 14%;
}

.academic__courses__list{
    padding: 0;
    margin: 0;
}

.academic__courses__item__img{
    height: 286px;
}

#ffyl-logo{
    padding: 10% 18%;
}

#alura-logo{
    padding: 26% 18.5%;
}

#pilares-logo{
    padding: 38% 17%;
}

.academic__courses__item__title{
    font-size: 22px;
}

.academic__courses__item__subtitle{
    font-size: 16px;
}

/* experiencia*/


section.experience{
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

h2.experience__section__title {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 10rem;
}

.experience__box{
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: auto;
    justify-content: space-around;   
    align-items: center;
    margin-bottom: 5rem;
}

.experience__box__reverse{
    display: flex;
    max-width: 1250px;
    margin: auto;
    justify-content: space-around;   
    align-items: center;
    margin-bottom: 5rem;
    flex-direction: row-reverse;
}

.experience__title{
    font-size: 2.5vw;
}

.experience__text{
    font-size: 2vw;
}

.experience__description button{
    width: 116px;
    height: 51px;
    border: 3px solid #5B9A64;
    font-size: 16px;
    border-radius: 5px;
}

.experiencia__botao--repo{
    color: #2D4D32;
}

.experience__botao--demo{
    background-color: #5B9A64;
    color: white;
}

/*Contacto*/

section.formcontato{
    max-width: 1250px;
    margin: auto;
}

.formcontato__contacto{
    display: flex;
    padding-top: 3rem;
}

.formcontato__img{
   max-height: 655px;
}

.formcontato__title{
    margin: 0;
    padding-bottom: 1rem;
    font-size: 3vw;
}

.formcontato__text{
    display: flex;
    flex-flow: column;
    margin-left: 2rem;
}

.formcontato__subtext{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.5rem;
}

.formcontato__form{
    padding-top: 1rem;
}

.formcontato__input, .formcontato__textarea{
    width: 100%;
    max-width: 656px;
    margin-bottom: 2rem;
    padding-top: 6px;
    padding-bottom: 50px;
    padding-left: 1rem;
    border: none;
}

.formcontato__input:hover{
    border-bottom: 2px solid #90BE97;
}

.formcontato__textarea:hover{
    border-bottom: 2px solid #90BE97;
}

.formcontato__botao{
    width: 165px;
    height: 51px;
    border: 1px solid #5B9A64;
    font-size: 16px;
    border-radius: 5px;
    background-color: #5B9A64;
    color: white;
}


/*footeer*/

section.footer{
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 3rem;
} 

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {

/* Menú */
    .menu__list__item{
        display: none;
    }
   
/*title*/
    .title{
        flex-direction: column;
        align-items: center;
    }
    .title__div{
        margin: 0 auto;
        padding: 0 25px;
    }
    .title__subsection{
        font-size: 3vw;
    }
    .title__network{
        font-size: 2vw;
        gap: 6%;
    }

/*About*/

    .about__container{
        width: 80%;
    }
    .about__title{
        font-size: 4vw;
    }
    .about__paragraph{
        font-size: 3vw;
    }
    

/*Skills*/
    .skills__title{
        font-size: 4vw;
    }
    .skills__line{
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: space-around;
        gap: 2rem;
    }

/*Hobbies*/
    .hobbies__title{
        font-size: 4vw;
    }
    .hobbies__line{
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: space-around;
        gap: 2rem;
    }

/*Formación Académica*/
    .academic__title{
        font-size: 4vw;
    }
    .academic__courses{
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: space-around;
        gap: 10rem;
    }
/*Experiencia Profesional*/

    .experience__box__reverse{
        display: flex;
        flex-wrap: wrap;
    }
    .experience__section__title{
        font-size: 4vw !important;
    }
    .experience__title,.experience__text, .experience__description{
        text-align: center;
    }

    /*Contacto*/
    section.formcontato {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .formcontato__img{
        display: none;
    }
    .formcontato__input, .formcontato__textarea{
        max-width: calc(100% - 40px);
    }

}

/*Mobile*/
@media (max-width: 425px) {

/*Menu*/
    

/*Titulo*/
    .title__div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title__profile{
        width: 50%;
        margin-bottom: 20px;
        order: -1;
        align-self: flex-start;
    }
    .title__bio{
        font-size: 6vw;
    }
    .title__subsection{
        font-size: 5vw;
    }
    .title__network{
        font-size: 4vw;
    }

/*Sección sobre mi*/
    .about__title{
        font-size: 6vw;
    }
    .about__paragraph{
        font-size: 4vw;
    }

/*Skills*/
    .skills__title{
        font-size: 6vw;
    }

/*Hobbies*/
    .hobbies__title{
        font-size: 6vw;
    }
 
/*Formación Académica*/
    .academic__title{
        font-size: 6vw;
    }

/*Experiencia Profesional*/
    .experience__section__title{
        font-size: 6vw !important;
    }
    section .experience{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experience__img{
        width: 90%;
        margin-bottom: 20px;
    }
    .experience__title{
        font-size: 4vw;
    }
    .experience__text{
        font-size: 3.5vw;
        font-weight: 400;
    }


 /*Contacto*/
    .formcontato__title{
        font-size: 6vw;
    }
    .formcontato__subtext{
        font-size: 4vw;
    }

/*Footer*/

}